# Editor environment files
*~
.vscode
*.code-workspace
.venv

# Python runtime caching
__pycache__

# setuptools intermediaries
/build
/dist
/MANIFEST
*.egg-info

# Pyrex intermediaries
lib/palaso.kmfl.[ch]

# Exclude private test data
/tests/**/data/private/**