Source: python-palaso
Section: python
Priority: optional
Maintainer: Tim Eves <tim_eves@sil.org>
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7), 
               python (>=2.6), python-pyrex (>= 0.9), python-dev (>= 2.6),
               libkmfl-dev, libkmflcomp-dev
Build-Depends-Indep: python-support (>= 0.5.3)
Standards-Version: 3.8.0
Homepage: http://projects.palaso.org/projects/show/palaso-python

Package: python-palaso
Architecture: any
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}, ${misc:Depends}, 
         python-ctypes (>= 1.0.2), python-gtk2 (>= 2.14), 
         libkmfl, libkmflcomp
Provides: ${python:Provides}
Description: Payap Language Software python package and scripts
 Python scripts, modules and packages created by the Computing Unit at the 
 Payap Linguistic Institute, a partner ship between SIL and Payap University. 
 .
 These have been useful for language software programs and tools develeped 
 by the Computing Unit.
