Source: python-palaso
Section: python
Priority: optional
Maintainer: Martin Hosken <martin_hosken@sil.org>
Build-Depends: debhelper (>= 7), python (>=2.6), dh-python, python-pyrex (>= 0.9), python-dev (>= 2.6), libkmfl-dev, libkmflcomp-dev
Standards-Version: 3.9.5
X-Python-Version: >= 2.6
Homepage: http://projects.palaso.org/projects/show/palaso-python

Package: python-palaso
Architecture: all
Depends: ${misc:Depends}, python-palaso-kbd, python-palaso-font, python-palaso-teckit, python-palaso-sfm, python-palaso-unicode
Description: Payap Language Software python package and scripts
 This metapackage provides Python scripts, modules and packages created by the
 Computing Unit at the Payap Linguistic Institute, a partnership between SIL and
 Payap University. These have been useful for language software programs and 
 tools developed by the Computing Unit.

Package: python-palaso-kbd
Architecture: any
XS-Python-Version: ${python:Versions}
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, libkmfl0, libkmflcomp0, python-palaso-core 
Provides: ${python:Provides}
Description: Payap Language Software python keyboard support
 Python scripts and modules for interacting with keyboard descriptions,
 particularly kmfl.

Package: python-palaso-core
Architecture: all
XS-Python-Version: ${python:Versions}
Depends: ${python:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: Payap Language Software general python modules
 Various general purpose Python modules.

Package: python-palaso-font
Architecture: all
XS-Python-Version: ${python:Versions}
Depends: ${python:Depends}, ${misc:Depends}, fonttools, python-pyicu (>= 1.3), libgraphite2-3 | libgraphite2-2.0.0, fontforge, python-fontforge, python-palaso-core, python-support (>= 0.5.3)
Provides: ${python:Provides}
Description: Payap Language Software python font support
 Python scripts and modules for interacting with fonts, including graphite,
 icu and harfbuzz wrappers. Also provides support for testml.

Package: python-palaso-teckit
Architecture: all
XS-Python-Version: ${python:Versions}
Depends: ${python:Depends}, ${misc:Depends}, python-palaso-core 
Provides: ${python:Provides}
Description: TECKit text mapping wrapper
 Python module and scripts to interact with TECKit mappings.

Package: python-palaso-sfm
Architecture: all
XS-Python-Version: ${python:Versions}
Depends: ${python:Depends}, ${misc:Depends}, python-palaso-teckit, python-palaso-core
Provides: ${python:Provides}
Description: Standard Format Markup python support
 Python modules and scripts for interacting with SFM and USFM files.

Package: python-palaso-unicode
Architecture: all
XS-Python-Version: ${python:Versions}
Depends: ${python:Depends}, ${misc:Depends}, python-pyicu, python-gtk2 (>=2.14), python-palaso-core
Provides: ${python:Provides}
Description: Payap Language Software unicode text processing
 Python modules and scripts to support Unicode text processing. Including:
   * LDML collation
   * Word breaking

